@model SportWebApp.ViewModels.ProfileInfoViewModel

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="~/css/Index_ProfileInfo.css" />
</head>
<body>
	<br>
	@if (TempData["AlertMessage"] != null)
	{
		<div class="alert alert-success d-flex align-items-center">
			<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>
			<div>
				<strong>Success! </strong>@TempData["AlertMessage"]
			</div>
		</div>
	}
	<section style="background-color: #eee;">
		<div class="container py-5">
			<div class="row">
				<div class="col-lg-4">
					<div class="card mb-4 card_profile">
						<div class="card-body text-center">
							<div class="container_avatar">
								@if (Model.UserAvatar.Path != null)
								{
									<img src="@Model.UserAvatar.Path" alt="avatar" class="rounded-circle img-fluid avatar_img" style='width: 150px; height: 160px;' />
									<!-- Button trigger modal avatar-->
									<button type="button" class="btn btn-primary avatar_btn" data-toggle="modal" data-target="#EditAvatarModal">
										✎
									</button>
								}
							</div>

							<h5 class="my-3">@Model.UserProfile.Name @Model.UserProfile.UserSurname</h5>
							<p class="text-muted mb-4">@Model.UserProfile.Country</p>
							<div class="d-flex justify-content-center mb-2">
								<!-- Button trigger modal info-->
								<button type="button" class="btn btn-dark edit_btn" data-toggle="modal" data-target="#EditModal">
									Edit
								</button>

								<!-- Modal edit avatar -->
								<div class="modal fade" id="EditAvatarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<form asp-action="EditAvatar" asp-controller="ProfileInfo" method="post" enctype="multipart/form-data">
												<div class="modal-header">
													<h5 class="modal-title" id="exampleModalLabel">Update profile picture</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">
													<input type="file" name="uploadedFile" class="form-control" />
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
													<button type="submit" class="btn btn-primary">Save</button>
												</div>
											</form>
										</div>
									</div>
								</div>

								<!-- Modal edit info -->
								<div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<form asp-action="Edit" asp-controller="ProfileInfo" asp-route-id="@Model.UserProfile.Id">
												<div class="modal-header">
													<h5 class="modal-title" id="exampleModalLabel">Personal information</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">
													@foreach (var item_ in Model.UserProfile.GetType().GetProperties())
													{
														@if (item_.Name == "Id" || item_.Name == "ApplicationUserId" || item_.Name == "ApplicationUser")
															continue;
														@if (item_.Name == "UserSurname")
														{
															<div class="row">
																<div class="col-sm-3">
																	<p class="mb-0">Surname</p>
																</div>
																<div class="col-sm-9">
																	@Html.TextBox(item_.Name, Model.UserProfile.UserSurname, new { @type="text", @Placeholder = $"Enter Surname", @class = "form-control", @required = "true"})
																</div>
															</div>
															<hr>
															continue;
														}
														<div class="row">
															<div class="col-sm-3">
																<p class="mb-0">@item_.Name</p>
															</div>
															<div class="col-sm-9">
																@if (item_.Name == "Gender")
																{
																	<div class="form-check">
																		<input class="form-check-input" name="Gender" value="Male" type="radio" id="flexCheckDefault">
																		<label class="form-check-label">
																			Male
																		</label>
																	</div>
																	<div class="form-check">
																		<input class="form-check-input" name="Gender" type="radio" value="Female" id="flexCheckDefault">
																		<label class="form-check-label">
																			Female
																		</label>
																	</div>
																	<div class="form-check">
																		<input class="form-check-input" name="Gender" type="radio" value="Other" id="flexCheckDefault">
																		<label class="form-check-label">
																			Other
																		</label>
																	</div>
																}
																else if (item_.Name == "Birthday")
																	@Html.TextBox(item_.Name, Model.UserProfile.Birthday.ToString("d"), new { @type="text", @Placeholder = $"Enter {item_.Name}", @class = "form-control", @required = "true"})
																else if (item_.Name == "Age" || item_.Name == "Weight" || item_.Name == "Height")
																	@Html.TextBox(item_.Name, $"{item_.GetValue(Model.UserProfile)}", new { @type="number", @Placeholder = $"Enter {item_.Name}", @class = "form-control", @required = "true"})
																else
																	@Html.TextBox(item_.Name, $"{item_.GetValue(Model.UserProfile)}", new { @type="text", @Placeholder = $"Enter {item_.Name}", @class = "form-control", @required = "true"})

																</div>
															</div>
														<hr>
													}
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
													<button type="submit" class="btn btn-primary">Save</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="card mb-4 card_profile">
						<div class="card-body">
							@foreach (var item in Model.UserProfile.GetType().GetProperties())
							{
								@if (item.Name == "Id" || item.Name == "ApplicationUserId" || item.Name == "ApplicationUser")
									continue;
								@if (item.Name == "UserSurname")
								{
									<div class="row">
										<div class="col-sm-3">
											<p class="mb-0">Surname</p>
										</div>
										<div class="col-sm-9">
											<p class="text-muted mb-0">@item.GetValue(Model.UserProfile)</p>
										</div>
									</div>
									<hr>
									continue;
								}
								<div class="row">
									<div class="col-sm-3">
										<p class="mb-0">@item.Name</p>
									</div>
									<div class="col-sm-9">
										@if (item.Name == "Birthday")
										{
											<p class="text-muted mb-0">@Model.UserProfile.Birthday.ToString("D")</p>
										}
										else
										{
											<p class="text-muted mb-0">@item.GetValue(Model.UserProfile)</p>
										}
									</div>
								</div>
								<hr>
							}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>