@model SportWebApp.ViewModels.ProfileInfoViewModel

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="~/css/Index_ProfileInfo.css" />
</head>
<body>
	<section style="background-color: #eee;">
		<div class="container py-5">
			<div class="row">
				<div class="col-lg-4">
					<div class="card mb-4">
						<div class="card-body text-center">
							<div class="container_avatar">
								@if (Model.UserAvatar.Path != null)
								{
									<img src="@Model.UserAvatar.Path" alt="avatar" class="rounded-circle img-fluid" style="width: 150px; height: 160px;" />
									<!-- Button trigger modal avatar-->
									<button type="button" class="btn btn-primary avatar_btn" data-toggle="modal" data-target="#EditAvatarModal">
										✎
									</button>
								}
							</div>

							<h5 class="my-3">@Model.UserProfile.Name @Model.UserProfile.UserSurname</h5>
							<p class="text-muted mb-4">@Model.UserProfile.Country</p>
							<div class="d-flex justify-content-center mb-2">
								<!-- Button trigger modal info-->
								<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#EditModal">
									Редагувати
								</button>

								<!-- Modal edit avatar -->
								<div class="modal fade" id="EditAvatarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<form asp-action="EditAvatar" asp-controller="ProfileInfo" method="post" enctype="multipart/form-data">
												<div class="modal-header">
													<h5 class="modal-title" id="exampleModalLabel">Оновити зображення профілю</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">
													<input type="file" name="uploadedFile" class="form-control" />
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
													<button type="submit" class="btn btn-primary">Зберегти</button>
												</div>
											</form>
										</div>
									</div>
								</div>

								<!-- Modal edit info -->
								<div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<form asp-action="Edit" asp-controller="ProfileInfo" asp-route-id="@Model.UserProfile.Id">
												<div class="modal-header">
													<h5 class="modal-title" id="exampleModalLabel">Персональна інформація</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">
													<div class="row">
														<div class="col-sm-3">
															<p class="mb-0">Ім'я</p>
														</div>
														<div class="col-sm-9">
															<input type="text" value="@Model.UserProfile.Name" name="Name" class="form-control" required />
														</div>
													</div>
													<hr>
													<div class="row">
														<div class="col-sm-3">
															<p class="mb-0">Прізвище</p>
														</div>
														<div class="col-sm-9">
															<input type="text" value="@Model.UserProfile.UserSurname" name="UserSurname" class="form-control" required />
														</div>
													</div>
													<hr>
													<div class="row">
														<div class="col-sm-3">
															<p class="mb-0">Стать</p>
														</div>
														<div class="col-sm-9">
															<div class="form-check">
																<input class="form-check-input" name="Gender" value="Чоловіча" type="radio" id="flexCheckDefault">
																<label class="form-check-label">
																	Чоловіча
																</label>
															</div>
															<div class="form-check">
																<input class="form-check-input" name="Gender" type="radio" value="Жіноча" id="flexCheckDefault">
																<label class="form-check-label">
																	Жіноча
																</label>
															</div>
															<div class="form-check">
																<input class="form-check-input" name="Gender" type="radio" value="Інше" id="flexCheckDefault">
																<label class="form-check-label">
																	Інше
																</label>
															</div>
														</div>
													</div>
													<hr>
													<div class="row">
														<div class="col-sm-3">
															<p class="mb-0">Країна</p>
														</div>
														<div class="col-sm-9">
															<input type="text" value="@Model.UserProfile.Country" name="Country" class="form-control" required />
														</div>
													</div>
													<hr>
													<div class="row">
														<div class="col-sm-3">
															<p class="mb-0">Дата народження</p>
														</div>
														<div class="col-sm-9">
															<input type="text" value="@Model.UserProfile.Birthday" name="Birthday" class="form-control" required />
														</div>
													</div>
													<hr>
													<div class="row">
														<div class="col-sm-3">
															<p class="mb-0">Вік</p>
														</div>
														<div class="col-sm-9">
															<input type="text" value="@Model.UserProfile.Age" name="Age" class="form-control" required />
														</div>
													</div>
													<hr>
													<div class="row">
														<div class="col-sm-3">
															<p class="mb-0">Вага</p>
														</div>
														<div class="col-sm-9">
															<input type="text" value="@Model.UserProfile.Weight" name="Weight" class="form-control" required />
														</div>
													</div>
													<hr>
													<div class="row">
														<div class="col-sm-3">
															<p class="mb-0">Зріст</p>
														</div>
														<div class="col-sm-9">
															<input type="text" value="@Model.UserProfile.Height" name="Height" class="form-control" required />
														</div>
													</div>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
													<button type="submit" class="btn btn-primary">Зберегти</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="card mb-4">
						<div class="card-body">
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0">Повне ім'я</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0">@Model.UserProfile.Name @Model.UserProfile.UserSurname</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0">Стать</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0">@Model.UserProfile.Gender</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0">Країна</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0">@Model.UserProfile.Country</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0">Дата народження</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0">@Model.UserProfile.Birthday</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0">Вік</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0">@Model.UserProfile.Age</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0">Вага</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0">@Model.UserProfile.Weight</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0">Зріст</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0">@Model.UserProfile.Height</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>


