@model SportWebApp.Models.Training
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="~/css/EditTraining_Training.css" />
</head>
<body>
	<div class="container">
		<h3 class="title_exercise">Edit  exercise</h3>
		<form asp-action="EditTrainingPost" asp-controller="Training" method="post" asp-route-id="@Model.Id">
			<div>
				@foreach (var item in Model.GetType().GetProperties())
				{
					@if (item.Name == "Id" || item.Name == "ApplicationUserId" || item.Name == "ApplicationUser" || item.Name == "Exercises")
						continue;
					@if (item.Name == "MuscleGroup")
					{
						<div class="row">
							<div class="col-sm-3 col-3 col-md-3 col-lg-3 block_name">
								<p class="mb-0">Muscle Group</p>
							</div>
							<div class="col-sm-9 col-9 col-md-9 col-lg-9">
								@Html.TextBox(item.Name, $"{item.GetValue(Model)}", new { @type="text", @Placeholder = "Enter Nuscle Group", @class ="form-control", @required = "true"})
							</div>
						</div>
						<hr style="color: white;">
						continue;
					}
					<div class="row">
						<div class="col-sm-3 col-3 col-md-3 col-lg-3 block_name">
							<p class="mb-0">@item.Name</p>
						</div>
						<div class="col-sm-9 col-9 col-md-9 col-lg-9">
							@if (item.Name == "Notes" || item.Name == "ImageUrl")
								@Html.TextArea(item.Name, $"{item.GetValue(Model)}", new { @type="text", @Placeholder = $"Enter {item.Name}", @class = "form-control", @required = "true"})
							else
								@Html.TextBox(item.Name, $"{item.GetValue(Model)}", new { @type="text", @Placeholder = $"Enter {item.Name}", @class = "form-control", @required = "true"})

							</div>
						</div>
					<hr style="color: white;">
				}
				<button type="submit" class="btn btn-primary btn_save">Save</button>
			</div>
		</form>
	</div>
</body>
</html>