@model SportWebApp.Models.Training
<h3> Edit  exercise</h3>
<form asp-action="EditTrainingPost" asp-controller="Training" method="post" asp-route-id="@Model.Id">
	<div>
		@foreach (var item in Model.GetType().GetProperties())
		{
			@if (item.Name == "Id" || item.Name == "ApplicationUserId" || item.Name == "ApplicationUser" || item.Name == "Equipment" || item.Name == "Exercises")
				continue;
			@if (item.Name == "MuscleGroup")
			{
				<div class="row">
					<div class="col-sm-3">
						<p class="mb-0">Muscle Group</p>
					</div>
					<div class="col-sm-9">
						@Html.TextBox(item.Name, $"{item.GetValue(Model)}", new { @type="text", @Placeholder = "Enter Nuscle Group", @class ="form-control", @required = "true"})
					</div>
				</div>
				<hr>
				continue;
			}
			<div class="row">
				<div class="col-sm-3">
					<p class="mb-0">@item.Name</p>
				</div>
				<div class="col-sm-9">
					@if (item.Name == "Date")
						@Html.TextBox(item.Name, Model.Date.ToString("d"), new { @type="text", @Placeholder = $"Enter {item.Name}", @class = "form-control", @required = "true"})
					else if (item.Name == "Duration")
						@Html.TextBox(item.Name, Model.Duration.ToString("HH:mm"), new { @type="text", @Placeholder = $"Enter {item.Name}", @class = "form-control", @required = "true"})
					else if (item.Name == "Calories")
						@Html.TextBox(item.Name, $"{item.GetValue(Model)}", new { @type="number", @Placeholder = $"Enter {item.Name}", @class = "form-control", @required = "true"})
					else if (item.Name == "Feeling")
					{
						<div class="form-check">
							<input class="form-check-input" name="Feeling" value="Badly" type="radio" id="flexCheckDefault">
							<label class="form-check-label">Badly</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" name="Feeling" type="radio" value="Normally" id="flexCheckDefault">
							<label class="form-check-label">Normally</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" name="Feeling" type="radio" value="Soso" id="flexCheckDefault">
							<label class="form-check-label">So-so</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" name="Feeling" type="radio" value="Perfectly" id="flexCheckDefault">
							<label class="form-check-label">Perfectly</label>
						</div>
					}
					else
						@Html.TextBox(item.Name, $"{item.GetValue(Model)}", new { @type="text", @Placeholder = $"Enter {item.Name}", @class = "form-control", @required = "true"})
					</div>
				</div>
			<hr>
		}
		<button type="submit" class="btn btn-primary">Save</button>
	</div>
</form>