@model SportWebApp.ViewModels.TrainingViewModel
@using System.Text.Json;
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="~/css/Index_Training.css" />
	<link rel="stylesheet" href="~/css/Index_Exercise.css" />
</head>
<body>
	<br>
	@if (TempData["AlertMessage"] != null)
	{
		<div class="alert alert-success d-flex align-items-center">
			<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>
			<div>
				<strong>Success! </strong>@TempData["AlertMessage"]
			</div>
		</div>
	}
	<section>
		<div class="container py-5">
			<div class="row">
				<h2>Your training</h2>
				<div class="col-lg-9">
					<div class="accordion" id="accordionExample">
						@{
							int i = 0;
						}
						@if (Model.Trainings != null)
						{
							@foreach (var item in Model.Trainings)
							{
								<div style='margin-bottom: 25px; border-top: 1px solid #E0E0E0' class="accordion-item according_item">
									@{
										i++;
										string heading = "heading" + i;
										string collapsetarget = "#collapse" + i;
										string collapsecontrols = "collapse" + i;
									}
									<h2 class="accordion-header" id="@heading">
										<button class="accordion-button collapsed btn_exercise_text" type="button" data-bs-toggle="collapse" data-bs-target="@collapsetarget" aria-expanded="false" aria-controls="@collapsecontrols">
											<img class="btn_exercise_img" src="img\dumbbell-icon-2586494.png">
											@item.Name
										</button>
									</h2>
									<div id="@collapsecontrols" class="accordion-collapse collapse" aria-labelledby="@heading" data-bs-parent="#accordionExample" style="">
										<div class="accordion-body">
											<div class="row">
												<div class="col-md-5">
													@if (item.ImageUrl == null)
													{
														<img src="https://via.placeholder.com/300" style='width: 100%;'>
													}
													else
													{
														<img src="@item.ImageUrl" style='width: 100%; height: 240px;'>
													}
													<div class="modal-footer">
														<a asp-action="StartTraining" asp-controller="Training" asp-route-id="@item.Id" type="button" class="btn btn-success btn_training btn-md">Start training</a>
														<a asp-action="AddExercise" asp-controller="Training" asp-route-id="@item.Id" type="button" class="btn btn-primary btn_training btn-md">Add exercise</a>
														<a asp-action="EditTraining" asp-controller="Training" asp-route-id="@item.Id" type="button" class="btn btn-primary btn_training btn-md">Edit</a>
														<a asp-action="DeleteTraining" asp-controller="Training" asp-route-id="@item.Id" type="button" class="btn btn-primary btn_training btn-md">Delete</a>
													</div>
												</div>
												<div class="col-md-7 exercise_info">
													<p><b>Name:</b> @item.Name</p>
													<p><b>Muscle group:</b> @item.MuscleGroup</p>
													<p><b>Place:</b> @item.Place</p>
													<p><b>Notes:</b> @item.Notes</p>
												</div>
												<div class="row">
													<p class="exercise_p"><b>Exercise:</b></p>
													@{
														if (item.Exercises != null)
														{
															List<Exercise>? exercises = new List<Exercise>();
															exercises = JsonSerializer.Deserialize<List<Exercise>>(item.Exercises);
															int index = 0;
															@foreach (var exercise in exercises)
															{
																index++;
																@if (index % 2 == 1)
																{
																	<div class="col-md-6 exercise_info exercise_right">
																		<div class="row exercise_block ">
																			<div class="col-md-5">
																				<img src="@exercise.ImageUrl" class="img_exrcise">
																			</div>
																			<div class="col-md-7 exercise_info">
																				<p><b>Name:</b> @exercise.Name</p>
																				<p><b>Repetition:</b> @exercise.Repetition</p>
																				<p><b>Approach:</b> @exercise.ApproachCount</p>
																				<a asp-action="DeleteExercise" asp-controller="Training" asp-route-id="@item.Id" asp-route-idexer="@exercise.Id" type="button" class="btn btn-primary btn-sm btn_del_exercise">Delete</a>
																				<br>
																			</div>
																		</div>
																		<br>
																	</div>
																}
																else
																{
																	<div class="col-md-6 exercise_info">
																		<div class="row exercise_block">
																			<div class="col-md-5">
																				<img src="@exercise.ImageUrl" class="img_exrcise">
																			</div>
																			<div class="col-md-7 exercise_info">
																				<p><b>Name:</b> @exercise.Name</p>
																				<p><b>Repetition:</b> @exercise.Repetition</p>
																				<p><b>Approach:</b> @exercise.ApproachCount</p>
																				<a asp-action="DeleteExercise" asp-controller="Training" asp-route-id="@item.Id" asp-route-idexer="@exercise.Id" type="button" class="btn btn-primary btn-sm btn_del_exercise">Delete</a>
																				<br>
																			</div>
																		</div>
																		<br>
																	</div>
																}
															}
														}
													}
												</div>
											</div>
										</div>
									</div>
								</div>
							}
						}
					</div>
				</div>
				<div class="col-lg-3">
					<!-- Button trigger modal create-->
					<button type="button" class="btn btn-primary btn-lg btn_create" data-toggle="modal" data-target="#CreateTraining">Create Training</button>

					<form method="get">
						<div class="form-inline form-group">
							<label class="control-label">Name: </label>
							<input name="Name" value="@Model.FilterViewModel.SelectedName" class="form-control" />

							<label>Muscle Group: </label>
							<input name="MuscleGroup" value="@Model.FilterViewModel.SelectedMuscleGroup" class="form-control" />

							<label>Equipment: </label>
							<input name="Equipment" value="@Model.FilterViewModel.SelectedEquipment" class="form-control" />
							<button type="submit" class="btn btn-primary btn_filter btn-lg">
								Filter
							</button>
						</div>
					</form>

					<!-- Modal create training -->
					<div class="modal fade" id="CreateTraining" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<form asp-action="CreateTraining" asp-controller="Training" method="post">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Create training</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										@foreach (var item_ in Model.Training.GetType().GetProperties())
										{
											@if (item_.Name == "Id" || item_.Name == "ApplicationUserId" || item_.Name == "ApplicationUser" || item_.Name == "Equipment" || item_.Name == "Exercises"
											|| item_.Name == "Date" || item_.Name == "Duration" || item_.Name == "Feeling" || item_.Name == "Calories")
												continue;
											@if (item_.Name == "MuscleGroup")
											{
												<div class="row">
													<div class="col-sm-3">
														<p class="mb-0">Muscle Group</p>
													</div>
													<div class="col-sm-9">
														@Html.TextBox(item_.Name, "", new { @type="text", @Placeholder = "Enter Muscle Group", @class ="form-control", @required = "true"})
													</div>
												</div>
												<hr>
												continue;
											}
											<div class="row">
												<div class="col-sm-3">
													<p class="mb-0">@item_.Name</p>
												</div>
												<div class="col-sm-9">
@*													@if (item_.Name == "Date")
														@Html.TextBox(item_.Name, "", new { @type="text", @Placeholder = $"Enter {item_.Name}", @class = "form-control", @required = "true"})
													else if (item_.Name == "Duration")
														@Html.TextBox(item_.Name, "", new { @type="text", @Placeholder = $"Enter {item_.Name}", @class = "form-control", @required = "true"})
													else if (item_.Name == "Calories")
														@Html.TextBox(item_.Name, "", new { @type="number", @Placeholder = $"Enter {item_.Name}", @class = "form-control", @required = "true"})
													else if (item_.Name == "Feeling")
													{
														<div class="form-check">
															<input class="form-check-input" name="Feeling" value="Badly" type="radio" id="flexCheckDefault">
															<label class="form-check-label">Badly</label>
														</div>
														<div class="form-check">
															<input class="form-check-input" name="Feeling" type="radio" value="Normally" id="flexCheckDefault">
															<label class="form-check-label">Normally</label>
														</div>
														<div class="form-check">
															<input class="form-check-input" name="Feeling" type="radio" value="Soso" id="flexCheckDefault">
															<label class="form-check-label">So-so</label>
														</div>
														<div class="form-check">
															<input class="form-check-input" name="Feeling" type="radio" value="Perfectly" id="flexCheckDefault">
															<label class="form-check-label">Perfectly</label>
														</div>
													}*@
													
														@Html.TextBox(item_.Name, "", new { @type="text", @Placeholder = $"Enter {item_.Name}", @class = "form-control", @required = "true"})
													</div>
												</div>
											<hr>
										}
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-primary">Save</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>