@model SportWebApp.Models.Training
@using System.Text.Json;

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="~/css/StartTraining_Training.css" />
</head>
<body>
	<h1>Start @Model.Name</h1>
	<div class="row">
		<div class="col-md-5">
			<h3>Information:</h3>
			<img src="@Model.ImageUrl" class="training_img" />
		</div>
		<div class="col-md-4 info_container">
			<p><b>Name:</b> @Model.Name</p>
			<p><b>Muscle group:</b> @Model.MuscleGroup</p>
			<p><b>Place:</b> @Model.Place</p>
			<p><b>Notes:</b> @Model.Notes</p>
		</div>
		<div class="col-md-3" id="mainstopwatch">
			<h4><img src="/img/stopwatch.png" class="timer_img" /> Stopwatch </h4>
			<div class="mainTime">
				<span id="mainminute">00</span>
				<span id="mainsecond">00</span>
				<span id="milliseconds">00</span>
			</div>
			<div>
				<button class="btn btn-primary btn-md" id="start" onclick="start();">Start</button>
				<button class="btn btn-danger btn-md" id="stop" onclick="stop();">Stop</button>
				<button class="btn btn-success btn-md" id="reset" onclick="reset();">Reset</button>
			</div>

		</div>
		<hr>
		@{
			if (Model.Exercises != null)
			{
				List<Exercise>? exercises = new List<Exercise>();
				exercises = JsonSerializer.Deserialize<List<Exercise>>(Model.Exercises);
				int index = 0;
				@foreach (var exercise in exercises)
				{
					index++;
					<div class="row">
						<div class="col-md-8 exercise_info">
							<div class="row exercise_block ">
								<div class="col-md-5">
									<img src="@exercise.ImageUrl" class="img_exrcise">
								</div>
								<div class="col-md-7 exercise_info">
									<p><b class="number">@index</b> <b>Name:</b> @exercise.Name</p>
									<p><b>Description:</b> @exercise.Description</p>
									<p><b>Equipment:</b> @exercise.Equipment</p>
									<p><b>Weifht of equipment:</b> @exercise.Weight</p>
									<br>
								</div>
							</div>
							<br>
						</div>
						<div class="col-md-4">
							@for (int i = 1; i <= exercise.ApproachCount; i++)
							{
								<div>
									<b>Ap @i </b> | Repetition: @exercise.Repetition
									<input class="form-check-input" type="checkbox" />
								</div>
							}
						</div>
						<hr>
					</div>
				}
			}
		}
	</div>
<script src="/js/stopwatch.js" async defer></script>
</body>
</html>
